<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | Page Title Here</title>
<meta charset="utf-8">
<!-- {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{ static '/style.css' }">
 -->

<!-- JQUERY -->

</head>
<body>

<div class="header">
    <h1>FAVORITES LIST</h1>
    <ul>
        <li><a href="{% url 'login:home' %}">Home</a></li>
    {% if 'id' in request.session %}
        <li><a href="{% url 'login:logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login:login' %}">Login/Register</a></li>
    {% endif %}
    </ul>
</div>

<div class="content">
    <!--put all your content here-->
    {% for name in userlist %}
        <p>{{name.frequency_id.name}} <a href="{% url 'faves:delfav' name.frequency_id.id %}">remove</a></p>
    {% endfor %}
    {% for tweet in all_tweets %}
        <p>{{tweet.text}}</p>
    {% endfor %}
</div>

</body>
</html>