<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | My Favorites</title>
<meta charset="utf-8">
<!-- {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{ static '/style.css' }">
 -->

<!-- JQUERY -->

</head>
<body>

<div class="header">
    <h1>My Favorites</h1>
    <ul>
        <li><a href="{% url 'login:home' %}">Home</a></li>
    {% if 'id' in request.session %}
        <li><a href="{% url 'login:logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login:login' %}">Login/Register</a></li>
    {% endif %}
    </ul>
</div>

<div class="content">
    {% for name in userlist %}
        <p><a href="{% url 'find:find' name.frequency_id.name %}">{{name.frequency_id.name}}</a> <a href="{% url 'faves:delfav' name.frequency_id.id %}">remove</a></p>
    {% endfor %}
    
    <h2>Daily Twitter Picks</h2>
    <table>
        <thead><tr>
            <td>Name</td>
            <td>Gender</td>
            <td>Percentage of Population</td>
        </tr></thead>
        <tbody>
        {% for tweet in all_tweets %}
            <tr>
                <td><a href="{% url 'find:find' tweet.0 %}">{{tweet.0}}</a></td>
                <td>{{tweet.1}}</td>
                <td>{{tweet.3}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>