<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | Top 100 Popular Names</title>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'find/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'find/css/jquery-ui.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <style type="text/css">
	form.filters {
		display:inline-block;
		vertical-align:top;
		width:25%;
	}
	table.pop_results {
		display:inline-block;
		vertical-align:top;
		width:70%;
	}
	.pop_results td.number {text-align: right;}
</style> -->
</head>
<body>

<div class="header">
	<h1>Top 100 Popular Names</h1>
	<ul>
		<li><a href="{% url 'login:home' %}">Home</a></li>
	{% if 'id' in request.session %}
		<li><a href="{% url 'faves:index' %}">Favorites</a></li>
		<li><a href="{% url 'login:logout' %}">Logout</a></li>
	{% else %}
		<li><a href="{% url 'login:loginRegistration' %}">Login/Register</a></li>
	{% endif %}
	</ul>
</div>

<div class="content">
	<h2>Results for 
		{% if request.session.genderFilter == 'M' %} males,
			{% elif request.session.genderFilter == 'F' %} females,
			{% else %} both males and females,
		{% endif %}
		{% if request.session.stateFilter == 'every' %} every state,
			{% else %} in the state of {{request.session.stateFilter}},
		{% endif %}
		{% if request.session.yearFilter == 'all' %} every year from 1910-2015
			{% else %} year {{request.session.yearFilter}}
		{% endif %}</h2>
	<form class="filters" action="{% url 'pop:filter' %}" method="GET">
		<h3>Filter Results:</h3>
		<p>Gender
			<label>
				<input type="radio" name="gender" value="">Both
			</label>
			<label>
				<input type="radio" name="gender" value="M"> Male
			</label>
			<label>
				<input type="radio" name="gender" value="F"> Female
			</label>
		</p>
		<p>State<br />
			<select name="state">
				<option value="">All</option>
				{% for s in states %}
					<option value={{s.id}}>{{s.state}}</option>
				{% endfor %}
			</select>
		</p>
		<p>Year (1910-2015) <br />
			<input type="text" name="year">
		</p>
		<p>Year Range <br />
			<select name="yearStart">
				<option value="">All</option>
				{% for y in years %}
					<option value={{y}}>{{y}}</option>
				{% endfor %}
			</select>
			<select name="yearEnd">
				<option value="">All</option>
				{% for y in years %}
					<option value={{y}}>{{y}}</option>
				{% endfor %}
			</select>
		</p>
		<p><input type="submit" name="submit" value="Filter">
		<input type="submit" name="submit" value="Reset"></p>
	</form>

    {% if messages %}{% for message in messages %}{% if 'pop' in message.tags %}<h2 class="{{ message.tags }}">{{ message }}</h2>{% endif %}{% endfor %}{% endif %}

	<table class="pop_results">
		<thead><tr>
			{% if 'id' in request.session %}<td>Fave</td>{% endif %}
			<td>Rank</td>
			<td>Name</td>
			<td>Count</td>
		</tr></thead>
		<tbody>
			{% for n in names %}
			<tr>
				{% if 'id' in request.session %} <!--heart only shows when user is logged in -->
					{% if n.name in faveNames %}
					<td><a href="{% url 'faves:delfav' n.id %}"><img src="{% static '/images/heart_full.png' %}" alt="Remove From Favorites" /></a></td>
					{% else %}
					<td><a href="{% url 'faves:addfav' n.id %}"><img src="{% static '/images/heart_empty.png' %}" alt="Add to Favorites" /></a></td>
					{% endif %}
				{% endif %}
				<td>{{forloop.counter}}</td>
				<td>{{n.name}}</td>
				<td class="number">{{n.count}}</td> <!--need to align right-->
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<p><a href="#"><button>back to top</button></a></p>
</div>

</body>
</html>