
<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | Home</title>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'find/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'find/css/jquery-ui.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div class="header">
    <h1>Baby Names</h1>
    <ul>
    {% if 'id' in request.session %}
        <li><a href="{% url 'faves:index' %}">Favorites</a></li>
        <li><a href="{% url 'login:logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login:loginRegistration' %}">Login/Register</a></li>
    {% endif %}
    </ul>
</div>

<div class="content">
    <!--put all your content here-->

    <!-- <button><a href="">Favorites</a></button> -->
    <button><a href="{% url 'rand:index' %}">Random Name Generator</a></button>
    <button><a href="{% url 'pop:index' %}">Most Popular Names</a></button>
    <button><a href="{% url 'find:index' %}">Find My Name</a></button>
</div>

</body>
</html>