<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | Login & Registration</title>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'find/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'find/css/jquery-ui.css' %}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div class="header">
    <h1>Login & Registration</h1>
    <ul>
        <li><a href="{% url 'rand:index' %}">Random Name Generator</a></li>
        <li><a href="{% url 'pop:index' %}">Most Popular Names</a></li>
        <li><a href="{% url 'find:index' %}">Find My Name</a></li>
    </ul>
</div>

<div class="content">
    {% for message in messages %}
        <p style="background-color:red;">{{message}}</p>
    {% endfor %}
    <h3>Registration</h3>
    <form action="register" method="post">
        {% csrf_token %}
        Username:<input type="text" name="user">
        Password:<input type="password" name="passw">
        Confirm password:<input type="password" name="confirm">
        <input type="submit" name="Register" value="Register">
    </form>
    <h3>Login</h3>
    <form action="login" method="post">
        {% csrf_token %}
        Username:<input type="text" name="user">
        Password:<input type="password" name="password">
        <input type="submit" name="login" value="Login">
    </form>
</div>

</body>
</html>