<!DOCTYPE html>
<html lang="en">
<head>

<title>Baby Names | Page Title Here</title>
<meta charset="utf-8">
<!-- {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{ static '/style.css' }"> -->

</head>
<body>

<div class="header">
    <h1>Page Title Here</h1>

</div>

<div class="content">
    <!--put all your content here-->
    <form action="{% url 'rand:randName' %}" method="post">

    {% csrf_token %}
        <h2>Random Name generator: {% if name %}{{name}}{% endif %}</h2>

        <select name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="0">Both</option>

        </select>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>

</body>
</html>
